.board-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%;
    max-width: 480px;
    height: 480px; */
    display: flex;
    flex-wrap: wrap;
    animation: fadeInBoard 3s forwards;
}
.board-container .left{
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 20px;

    background-size: cover;
    background-image: url('../assets/metal-border-hor.png');
}
.board-container .right{
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 20px;
    background-size: cover;
    background-image: url('../assets/metal-border-hor.png');
}

.board-container .top{
    border-radius: 10px 10px 0 0;
    position: absolute;
    right: -20px;
    left: -20px;
    top: -20px;
    height: 20px;
    background-size: cover;
    background-image: url('../assets/metal-border.png');
}

.board-container .bottom{
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: -20px;
    left: -20px;
    bottom: -20px;
    height: 20px;
    background-size: cover;
    background-image: url('../assets/metal-border.png');
}
button.gameKey {
    flex: 10%;
    width: 20px;
    position: relative;
    border: 1px solid rgba(0,183,255,0.8);
    box-shadow: 0 0 10px #00b7ff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    /* max-height: 32px; */
}

button.gameKey:hover {
    background-color: rgba(3, 215, 252, .6);
}

button.gameKey:focus {
    background-color: rgba(3, 215, 252, .6);
}

.y-axis, .x-axis {
    color: #fff;
    width: 100%;
}

.x-axis {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -20px;
    font-size: 12px;
}

.x-axis span {
    flex: 1;
    text-align: center;
    margin-top: 2px;
}

.y-axis span {
    position: relative;
    flex: 1;
    padding: 5px 0px;
    text-align: center;
}
.y-axis span .inner-y-axis
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.y-axis {
    width: 12px;
    position: absolute;
    left: -16px;
    font-size: 12px;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.gameKey img.vertic {
    position: absolute;
    z-index: 1;
    left: 51%;
    top: -1px;
    transform: translateX(-50%);
    right: -1px;
}
button.gameKey img.horiz {
    position: absolute;
    z-index: 1;
    top: 51%;
    left: -1px;
    transform: translateY(-50%);
    right: -1px;
}

button.gameKey .vertic{
/* transform: rotate(90deg); */
width: 100%;
    position: absolute;
    background-position: center;
    right: 0px;
    left: 0px;
    top: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

button.gameKey .horiz{
    background-repeat: no-repeat;
    background-position: center;
}
.clicked {
    background-color: #03fc1c !important;
}

.isSub {
    background-color: #fc2803 !important;
}

.finishGame {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #282c34;
    border-radius: 20px;
    padding: 50px;
    border: 3px solid #e3e3e3;
    display: flex;
    flex-direction: column;
}

.finishGame span {
    font-size: 30px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

.finishGame button {
    border: none;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 20px 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

@keyframes fadeInBoard {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:960px) {
    .board-container {
        left: 0;
        transform: translate(0, -50%);
        margin: 30px;
    }
    .showResultsBtn{
      left: 50% !important;
      transform: translate(-50%);
  }
  }

  @media screen and (max-width:560px) {
    .gameStartContainer{
        background-size: 410px;
    }
    .gameStartContainer form
    {
        bottom: 62px;
    }
    .gameStartContainer .form-group{
        margin: 5px 0;
    }
    .gameStartContainer .form-group input{
        padding: 6px 10px;
    }
    .gameStartContainer .form-group label{
    font-size: 12px;
    margin-top: 2px;
    left: 10px;
    }
  }