.gameResultsWrapper
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-image: url('../assets/bg-results.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    max-width: 960px;
    margin: 0 auto;
}
.gameResultsContainer
{
    padding: 0;
    border-top: 2px solid #a0a0a0;
    border-left: 2px solid #a0a0a0;
    border-right: 2px solid #a0a0a0;
    border-radius: 10px 10px 0 0 ;
    overflow: hidden;
    background: rgba(2,0,36,0.5);
    background: linear-gradient(90deg, rgba(2,0,36,.6) 0%, rgba(9,9,121,.6) 35%, rgba(0,212,255,.6) 100%);
    height: 0;
    transition: all .3s;
}

.gameResultsContainer ul {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    list-style: none;
    max-width: 480px;
}

.gameResultsContainer ul li{
   
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 36px;
}
.gameResultsContainer ul li > div{
    flex: 1;
    margin: 0;
}
.gameResultsContainer ul li img{
    width: 20px;
}
.gameResultsContainer.show { 
    padding: 20px;
    height: auto;
}
.strikesResultsContainer
{
    margin-left: 10px;
    font-size: 12px;
    opacity: .5;
    align-self: center;
}

.strikeCount
{
    color: yellow;
    font-weight: bold;
    font-size: 18px;
}
.showResultsBtn{
    position: absolute;
    z-index: -1;
    top: -36px;
    left: 80%;
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255,0,0,1);
    background-image: url('../assets/buuton-show-results.png');
    background-position: center center;
    background-size: 100%;
    padding: 10px 40px;
    border-radius: 10px 10px 0 0;
}

.row-big
{
    flex: 2 !important;
}
.row-small
{
    flex: .5 !important;

}