
section.splashScreenContainer
{
  min-width: 100vw;
  min-height: 100vh;
  /* background-color: #282c34; */
  transition: all .5s;
}
div.startingNow{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
 animation: fadeIn 8s forwards;
 background-image: url('./assets/torpedo-battle-bg.jpg');
  background-size: cover;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:.8;}
}

