@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #282c34;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1 , h2, p , span , div , li , a , button {
  font-family: 'Chakra Petch', sans-serif;
}
.d-flex
{
    display: flex;
}
